.glassMorph {
    /* From https://css.glass */
    background: rgba(9, 9, 9, 0.4);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(9, 9, 9, 0.3);
    border-bottom: 1px solid rgb(60, 60, 60);
}

.navTrigger label {
    display: flex;
    flex-direction: column;
    width: 30px;
    /* height: 40px; */
    cursor: pointer;
    /* scale: 0.35; */
}

.navTrigger label span {
    background: #fff;
    border-radius: 10px;
    height: 2px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

}


.navTrigger span:nth-of-type(1) {
    width: 50%;

}

.navTrigger span:nth-of-type(2) {
    width: 100%;
}


.navTrigger span:nth-of-type(3) {
    width: 75%;

}


.navTrigger input[type="checkbox"] {
    display: none;
}


.navTrigger input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(3px, 0px)
}


.navTrigger input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
}


.navTrigger input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 50%;
    transform: translate(13px, -3px) rotatez(45deg);

}